
{% comment %} <form method="POST" class="col-lg-6 offset-lg-3">
    {% csrf_token %}
    <div>
        <div>
            <textarea name="comment" placeholder="Write a new comment...." cols="50" rows="3" required></textarea>
        </div>
        <div class="small d-flex justify-content-center">
            <input type="submit" value="POST">
            <button class="">
                <a href="{% url 'detail' %}" class="btn btn-light">Cancel</a>
            </button>
        </div>
    </div>
</form> {% endcomment %}
