
{% comment %} <form method="POST" class="col-lg-6 offset-lg-3">
    {% csrf_token %}
    <div>
        <div>
            <textarea name="message" placeholder="Compose a new Post...." cols="50" rows="3" required></textarea>
        </div>
        <div class="small d-flex justify-content-center">
            <input type="submit" value="POST">
            <button class="">

                <a href="{% url 'detail' %}" class="btn btn-light">Cancel</a>
            </button>
            <!-- <button href="{% url 'detail' %}" type="reset" class="btn btn-light" style="margin-left: 10px;" >Cancel</button> -->
        </div>
    </div>
</form> {% endcomment %}
